@charset "utf-8";

h1 {
	text-align: center;
	font-weight: bold;
}

header {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	background-image: url("./images/franckyvincent.jpg");
  background-size: contain;
  background-position: center;
  height: 200px;
	color: white;
}

nav {
	text-align: center;
	background-color: lightcyan;
	margin: auto;
	padding: 1px;

}

ul#menu_inline li {
	display: inline;
	padding: 0 0.5em; /* Pour espacer les boutons entre eux */
}

.add-disc {
	border: 2px solid black;
	margin: auto;
	padding: 10px 10px;
	text-align: left;
	width: auto;
	background-color: lightgreen;
}

.list-discs {
	padding: 10px 5px;
	margin: auto;
	width: 100%;	
}

table, td, th {
	border: medium solid #000000;
	width: auto;
	border-collapse: collapse;
	background-color: beige;
	margin: auto;
}
